.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.user-container{
    max-height: 500px;
    margin: 10px;
    overflow-y: scroll;
    background-color: #383838;
    padding: 20px;
    border-radius: 5px;
}

.dlt-btn{
    border: none;
    color: white;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .dlt-btn:hover {
    background-color: #dd271a;
  }